<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <link rel='stylesheet' href='css/index.css'>
    </head>
    <body>
        <div>
            <input type='text' name='name' placeholder="Item Name" />
            <input type='text' name='stock' placeholder="Stock" />
            <input type="submit" name="create" value="Create Inventory Item" onclick="createItem()"/>
        </div>
        <div>
            <input type='text' placeholder="Item Id" />
            <input type="submit" name="delete" value="Delete Inventory Item" />
        </div>
        <div>
            <input type="submit" name="get" value="Get Inventory Items" />
            <input type="submit" name="get_csv" value="Get Inventory Items List CSV" />
        </div>
    </body>
</html>